<h1>Add a Definition</h1>

<form action="/words/$word.getId()/definitions/new" method="post">
  <div class="form-group">
    <label for="definition">Definition:</label>
    <input type="text" name="definition" required>
  </div>
  <button class="btn btn-success" type="submit" name="add-definition">Add</button>
</form>

<a href="/">Home</a>
