<h1>Dictionary</h1>

<h3>Words:</h3>
<ul>
  #foreach ($word in $words)
    <li class="words"><a href="/words/$word.getId()">$word.getWord()</a></li>
  #end
</ul>
<button class="btn btn-primary" type="button" name="add-word"><a href="/words/new">Add a word</a></button>
