<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="container">
      <a href="/">Home</a>
      
      #parse( $template )

    </div>
  </body>
</html>
