<h1>Add a Word</h1>

<form action="/words/new" method="post">
  <div class="form-group">
    <label for="word">Word:</label>
    <input class="form-control" type="text" name="word" class="form-control" required>
  </div>
  <button class="btn btn-success" type="submit" name="add-word">Add</button>
  <a href="/"><button class="btn btn-primary" type="button" name="go-back">Go Back</button></a>
</form>
